@import "tailwindcss";

* {
    font-family: "Cairo", sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #ffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: orange;
    border: 4px solid transparent;
    background-clip: padding-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    outline: none;
    cursor: pointer;
}
.fade-in {
    opacity: 0;
    transform: translateY(35px);
    transition: all .9s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}